body{
	font-family: 'Open Sans Condensed', sans-serif;
}

/****  Nav Bar *****/
header {
	width: 100%;
	background-color: #568ca3;
	color: white;
	margin: 0;
	padding-bottom: 12px;
	border-bottom: 5px solid #a17558;
	top:0;
}

header h1{
	margin-left:20px;
	top: 12px;
	display: inline-block;
}

header ul {
	height: 100%;
	float: right;
	font-size: 1.75em;
	list-style: none;
	padding: 0;
	margin-top: 0;
	border-left: 2px solid #2b5a70;
}
header ul li {
	/*display: inline-block;*/
	padding: 5px 15px;
}

header ul li:first-child{
	border-bottom: 2px solid #2b5a70;
}

header a {
	text-decoration: none;
	color: white;
}

ul{
	list-style: none;
}

a{
	text-decoration: none;
	color: #5a5c66;
}


.sign_up {
	margin-left: 20px;
}

.new{
	font-size: 2em;
	font-weight: 900;
}

.creator a{	
	color: #69915a;
}

/***** Dashboard column display ******/

#all_things{
	margin: 0 auto;
}

#all_things div {
	width: 26%;
	height: 450px;
	margin: 1%;
	display: inline-block;
	background-color: #dbd7ce;
	vertical-align:super;
	padding: 30px;
	overflow:scroll;
	position: relative;
}

#all_things h2 {
  margin-top: 0;
}

#all_things li a {
	text-decoration: underline;
}

.item,
.item a {
	color: #a17558;
	background-color: #dbd7ce;
	position: relative;
	border: none;
}

/**** CHORE ****/
ul{
	list-style: none;
	padding: 0 10px 5px;
}

.new{
	font-size: 2em;
	font-weight: 900;
}

.creator a{	
	color: #708f64;
}

.participating a{
	color: #bd3e5a;
	font-weight: 900;
}

.add {
	font-family: 'sans-serif';
	text-decoration: none;
  position: absolute;
  top: 0px;
  right: 10px;
}


.table_header{
	background-color: blue;
	display: inline;
	margin: 0 auto;
}


.show_page {
	width:40%;
	/*border: 1px solid black;*/
	margin-left: 30px ;
	display: inline-block;
	float: left;
	/*top: 0;*/
	vertical-align: top;
}

.welcome_page {
	width: 80%;
	margin-left: 100px;
	/*border: 1px solid black;*/
	text-align: center;
}

.iou_table {
	text-align: left;
	margin-right: 30px;
}

.iou_table td, th {
	padding: 0 5px;
}
/*legend {
	position: absolute;
}

#events_nav {
	width: 30%;
	height: 300px;
	margin: 30px;
	/*overflow: hidden;*/
	/*overflow: auto;
}*/

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 
